<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.telerik.pushplugin">

    <application>
        <service
            android:name="com.telerik.pushplugin.PushPlugin">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.telerik.pushplugin.InstanceIdListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
    </application>
</manifest>
