/.project
.vscode
.idea
.DS_Store
*.js
*.js.map
*.log
!src/scripts/*.js
!src/hooks/*.js
!seed-tests/*.js
seed-tests/seed-copy/**/*.*
seed-tests/seed-copy-new-git-repo/**/*.*
demo/app/*.js
!demo/karma.conf.js
!demo/app/tests/*.js
demo/*.d.ts
!demo/references.d.ts
demo/lib
demo/platforms
demo/node_modules
demo-angular/app/*.js
!demo-angular/karma.conf.js
!demo-angular/app/tests/*.js
demo-angular/*.d.ts
!demo-angular/references.d.ts
demo-angular/lib
demo-angular/platforms
demo-angular/node_modules
node_modules
publish/src
publish/package
demo/report/report.html
demo/report/stats.json
demo-angular/report/report.html
demo-angular/report/stats.json
