/.project
.vscode
.idea
.DS_Store
*.js
*.js.map
*.log
*.esm.json
!src/scripts/*.js
!src/hooks/*.js
!seed-tests/*.js
seed-tests/seed-copy/**/*.*
seed-tests/seed-copy-new-git-repo/**/*.*
demo/**/*.js
!demo/karma.conf.js
!demo/app/tests/*.js
demo/*.d.ts
!demo/references.d.ts
demo/lib
demo/platforms
demo/node_modules
node_modules
publish/src
publish/package
demo/report/report.html
demo/report/stats.json
